^XA 
^PW999^FS 
^LS{{ ls }}^FS
^LH0,0^FS 
^BY2 
^FO090,020^A0N,40,20^FD{{ texto }} ^FS 
^FO090,75^A0N,25,20^FD{{ codprod }}^FS 
^FO090,105^BEN,50,Y,N^FD{{ ean }}^FS 
^FO440,015^A0N,40,20^FD{{ texto }}^FS 
^FO440,75^A0N,25,20^FD{{ codprod }}^FS 
^FO435,105^BEN,50,Y,N^FD{{ ean }}^FS 
^PQ{{ copies }},0,1,N^FS 
^XZ