^XA 
^PRD^FS 
^LS{{ ls }}^FS
^PW663^FS
^LT0
^LL250^FS 
^JMA^FS 
^BY2 
^FO100,020^A0N,40,20^FD{{ texto }} ^FS 
^FO100,75^A0N,25,20^FD{{ codprod }}^FS 
^FO100,105^BEN,50,Y,N^FD{{ ean }}^FS 
^FO455,015^A0N,40,20^FD{{ texto }}^FS 
^FO455,75^A0N,25,20^FD{{ codprod }}^FS 
^FO450,105^BEN,50,Y,N^FD{{ ean }}^FS 
^PQ{{ copies }},0,1,N^FS 
^XZ