^XA
~SD20
^PW999^FS 
^LS{{ ls }}^FS
^LH0,0^FS 
^BY2
^FO550,20^A0R,80,40^FD{{ texto}}^FS
^FO0480,20^A0R,60,30^FD{{ codprod }}^FS
^FO0420,20^A0R,60,30^FDESTOQUE PADRAO: ^FS
^FO0420,300^A0R,60,30^FD{{produto.ESTQMINIMOLOJA}}^FS
^FO0280,40^{{ tipoean}}R,120,Y,N^{{ ean }}^FS
^PQ{{ copies }},0,1,N^FS 
^XZ