^XA
~SD20
^PW999^FS 
^LS{{ ls }}^FS
^LH0,0^FS 
^FO200,20^A0N,50,30^FDData de descongelamento:^FS
^FO200,80^A0N,50,30^FD{{data}}^FS
^FO200,150^A0N,50,30^FDValidade:^FS
^FO200,200^A0N,50,30^FD{{dataValidadeDescongelamento}} Dias^FS
^PQ{{ copies }},0,1,N
^XZ